.divListUser,.divUser{
		background-color: #ccc;
		padding: 20px;
	}
	.divListUser{
		margin-top:20px;
	}	

	.divTeam{
		background-color: #ccc;
		padding: 20px;
	}
	#tabListUser td{ height: 45px; width:120px;}