<div class="container">
      
      <div class="row">
        <div class="col-md-8">
        <div class="divTeam">
          Equipe : 
          <input type="text" [(ngModel)]="nomEquipe" >
          &nbsp;
          <button class="btn btn-success" 
                 (click)="onAjouterEquipe()">
                <span class="glyphicon glyphicon-plus"></span>
                Ajouter une equipe
              </button>
              
        </div>
        <div id="demo">
          <app-equipe 
          *ngFor="let e of entreprise.tabEquipe;let i = index"
          [equipe]="e" [index]="i"
           >
            
          </app-equipe>

        </div>
        </div>
        <div class="col-md-4">
        <div class="divUser">
          <form (ngSubmit)="onAjouterPersonne(a)" 
        #a="ngForm">
          <table>
            <tr>
              <td>Nom :</td>
              <td><input type="text" name="nom" ngModel /></td>
            </tr>
            <tr>
              <td>Prenom :</td>
              <td><input type="text" name="prenom" ngModel /></td>
            </tr>
            
            <tr>
              <td>Team :</td>
              <td><select name="equipeIndex" ngModel>
              <option value="-1">Pas d'equipe</option>
              <option 
              *ngFor="let e of entreprise.tabEquipe;let i = index" value="{{ i }}">{{ e.nom }}</option>  
              </select></td>
            </tr>

            <tr>
              <td>&nbsp;</td>
              <td>
              <button class="btn btn-success" 
               type="submit">
                <span class="glyphicon glyphicon-plus"></span>
                Ajouter une personne
              </button>
            </td>
            </tr>
          </table>
        </form>
        </div><!-- divUser -->  
        
        
        
        <div class="divListUser">
          
          <table id="tabListUser">
          
            <tr 
            *ngFor="let p of entreprise.tabPersonne;let i = index">
              <td> {{p.prenom }} {{ p.nom}}
              </td>
            <td><button class="btn btn-warning" 
               (click)="onDeletePersonne(i)">
          <span class="glyphicon glyphicon-trash">
              </span></button>
            </td>
          </tr>

         
        </table>
          </div>
        
      </div>  <!-- col4 -->
      </div><!-- row -->
      
    </div><!-- container -->

